/*universal style selector applies the following styling to the whole page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 16px;
}

/*navigation bar items and social media icons in the navigation bar remove default styling*/
.menuItems, .s-mediaIcons {
  list-style-type: none;
}

/*all nav that are children of header*/
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid yellow;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
}

/*sets styling for the logo placeholder in the navigation bar*/
div.logo {
  display: flex;
  margin: 0 7em 0 0.5em;
}

/*creates flex container*/
ul.menuItems {
  display: flex;
}

/*style all ul elements with the class s-mediaIcons*/
ul.s-mediaIcons {
  display: flex;
  
}

/*sets margin for social media icons*/
.s-mediaIcons li.fa-brands {
  margin-right: 0.5em;
}

/*sets margin for navigation menu items*/
.menuItems li.homeLink, .menuItems li.aboutLink, .menuItems li.blogLink {
  margin-right: 2.4em;
}

.menuItems li.contactLink {
  margin-right: 5em;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border: 2px solid red;
}

.blogCard {
	background-color: #439A97;
	border-radius: 5px;
	color: #CBEDD5;
	padding: 20px 20px;
	text-align: center;
}

img {
  width: 100%;
}

button.readBtn {
  width: 210px;
  background-color: #97DECE;
  border: none;
  border-radius: 4px;
  padding: 0.25em 0;
}

.readBtn a {
  color: #439A97;
  text-decoration: none;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 160px;
  grid-template-areas:
    "contact-info sub-form";
  width: 100%;
  border: 2px solid red;
  margin-top:0.5em;
}

.contactMenu {
  grid-area: contact-info;
  background-color: #439A97;
  padding: 0.5em;
}

.contactIcon, .contactItem {
  margin: 0.5em;
}

span.contactItem {
  font-family: Arial;
  font-weight: normal;
}

form {
  grid-area: sub-form;
  margin-top: 1.5em;
}

input {
  margin: 0.5em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px;
  grid-template-areas:
    "s-mediaIcons-ft copyright-ft";
  border: 2px solid red;
  margin-top:0.5em;
}

.footerMenu {
  grid-area: s-mediaIcons-ft;
  padding: 0.5em;
}

.copyrightIcon {
  grid-area: copyright-ft;
  padding: 0.5em;
}

span.yearItem {
  font-family: Arial;
  font-weight: normal;
}
