.name {
    margin-top: 2em;
    margin-left: 1em;
}
.headshotPhoto {
    width: 300;
    height: 300;
    border-radius: 20px;
    margin-top: 1em;
    margin-left: 1em;
}

.para1, .para2
{
    margin-left: 1em;
    margin-right: 1em;
}

.para1 {
    margin-top: 1em;
    margin-bottom: 1em;
}


