.articleContainer {
    grid-area: art;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 1em;
    min-width: 0;
}

.rcntPostContainer {
    grid-area: rcPost;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    background-color: #CBEDD5;
}

.rcntPostLst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2em;
}

.rltdPostHdContainer {
    grid-area: rlPost;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #CBEDD5;
}

.rltdPostLst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2em;
}

.mstPopPostHdContainer {
    grid-area: popPost;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #CBEDD5;
}

.mstPopPostLst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2em;
}

.blogImageSmall {
    width: 6.7em;
    border-radius: 0.4em; 
}

.rcntPostLst li, .rltdPostLst li, .mstPopPostLst li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.rcntPostHd, .rltdPostHd, .mstPopPostHd {
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border-radius: 0.4em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    text-align: left;
    background-color: #439A97;
}

a.rcntPost1, a.rcntPost2, a.rcntPost3, a.rcntPost4, a.rcntPost5, a.rltdPost1, a.rltdPost2, a.rltdPost3, a.rltdPost4, a.rltdPost5, a.mstPopPost1, a.mstPopPost2, a.mstPopPost3, a.mstPopPost4, a.mstPopPost5 {
    color: black;
    text-decoration: none;
}

.blogImageLarge {
    display: block;
    width: 30em;
    margin-right: 0.5em;
}

figcaption {
    font-size: 0.7em;
}

a.photoLinkCaption {
    text-decoration: none;
    color: black;
}

p.kicker {
    text-align: left;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 3em;
    margin-bottom: 0.3em;
}

h1.blogPostTitle {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.blogPostDate {
    font-size: 0.8em;
    margin-top: 1em;
}

.avatarIconSmall {
    font-size: 2em;
    text-align: right;
    margin-top: 0.4em;
}

.postParagraph {
    margin: 1em;
}

.postParagraph10 {
    margin-bottom: 3em;
}

blockquote {
    font-size: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    border-left: 0.3em solid #439A97;
    padding-left: 1em;
    min-width: 0;
}

div.shortBio {
    border-top: 0.2em solid #439A97;
    border-bottom: 0.2em solid #439A97;
    margin-right: 1em;
    margin-left: 1em;
    min-width: 0;
}

.avatarIconLarge{
    font-size: 3em;
    text-align: right;
    margin-top: 0.3em;
}

h2.tagline {
    font-size: 1.5em;
}

p.shortBioDes {
    margin-top: 0.3em;
    margin-bottom: 0.7em;
    min-width: 0;
}

@media screen and (max-width: 48em) {
    .articleContainer, .rcntPostContainer, .rltdPostHdContainer, .mstPopPostHdContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      .rcntPostHd, .rltdPostHd, .mstPopPostHd {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      .rcntPostLst, .rltdPostLst, .mstPopPostLst {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 2em;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }

    .blogImageLarge {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    .postParagraph {
        margin-right: 0.75em;
        margin-left: 0.75em;
    }

    .blogImageSmall {
        width: 90%;
        height: 50%;
        margin-right: auto;
        margin-left: auto;
    }
  }
  
  @media screen and (max-width: 26.6em) {
    .articleContainer, .rcntPostContainer, .rltdPostHdContainer, .mstPopPostHdContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      .rcntPostHd, .rltdPostHd, .mstPopPostHd {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      .rcntPostLst, .rltdPostLst, .mstPopPostLst {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 2em;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }

    .blogImageLarge {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    .postParagraph {
        margin-right: 0.75em;
        margin-left: 0.75em;
    }
    
    .blogImageSmall {
        width: 90%;
        height: 50%;
        margin-right: auto;
        margin-left: auto;
    }
  }