.contactContainer {
  grid-area: ct;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid red;
}

.contactMenu {
  background-color: #439A97;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5em;
  text-align: center;
  list-style-type: none;
  border: 2px solid orange;
}

.contactHeader {
  margin-top: 1em;
}

.contactHeader, .contactIcon {
  margin-bottom: 1em;
}

.contactItem {
  font-weight: normal;
}




/*#subBtn {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.4em;
  border: none;
  background-color: #439A97;
  margin-left: auto;
  margin-right: auto;
}

input {
  border-radius: 0.5em;
  padding: 0.5em;
  width: 17em;
}

span.contactItem {
  font-family: Arial;
  font-weight: normal;
}

form h2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0.5em;
  text-align: center;
}

input[type=text], input[type=email] {
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 0.1em solid #439A97;
}


/*.textarea {
    border-radius: 0.5em;
    width: 17em;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    grid-template-areas:
      "contact-info sub-form";
      min-height: 100%;
      align-content: end;
    width: 100%;
    border: 0.1em solid red;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  .contactMenu {
    display: grid;
    grid-area: contact-info;
    justify-content: center;
    align-items: center;
    background-color: #439A97;
    padding: 0.5em;
    list-style-type: none;
  }
  
  .contactIcon, .contactItem {
    margin: auto 0.5em;
  }
  
  #sendBtn {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.4em;
    border: none;
    background-color: #439A97;
    margin-left: auto;
    margin-right: auto;
  }
  
  input {
    border-radius: 0.5em;
    padding: 0.5em;
    width: 17em;
  }
  
  span.contactItem {
    font-family: Arial;
    font-weight: normal;
  }
  
  form {
    display: grid;
    grid-area: sub-form;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 400px;
    border: 0.1em solid #439A97;
  }
  
  form h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0.5em;
    text-align: center;
  }
  
  input[type=text], input[type=email] {
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: 0.1em solid #439A97;
  }
  