.headerContainer {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid green;
  }

  ul li a {
    text-decoration: none;
  }

  /*navigation bar items and social media icons in the navigation bar remove default styling*/
.menuItems, .s-mediaIcons {
    list-style-type: none;
  }

.menuItems {
    display: flex;
    flex-direction: row;
}
  


  /*all nav that are children of header*/
  /*header nav {
    display: flex;
    background-color: #439A97;
    height: 2em;
  }