/*grid container for header content*/
.headerContainer {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #439A97;
    border: 2px solid green;
  }

  /*styling for logo*/
  .logo {
    margin-left: 0.5em;
    font-size: 2em;
    font-weight: bold;
  }

/*navigation bar items and social media icons in the navigation bar remove default styling*/
.menuItems, .s-mediaIcons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*styling for nav list item links*/
  ul li a {
    text-decoration: none;
  }

/*home link margin*/
  a.homeLink {
    margin-right: 1em;
  }

/*text styling for home and blog links*/
  a.homeLink, a.blogLink {
    font-size: 1.7em;
    font-weight: bold;
    color: black;
    padding-top: 0.9em;
    padding-right: 0.5em;
    padding-bottom: 0.9em;
    padding-left: 0.5em;
  }

  a:hover {
    background-color: #97DECE;
  }

/*display for link items*/
  .menuItems {
    display: flex;
    flex-direction: row;
}

.socMedIcon-fb, .socMedIcon-ig, .socMedIcon-twit {
  margin-right: 1em;
  font-size: 1.5em;
}

.socMedIcon-in {
  margin-right: 0.5em;
  font-size: 1.5em;
}

@media screen and (max-width: 425px) {
  .headerContainer, .homeLink, .blogLink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .loho, .menuItems {
    flex: 1;
  }

  .headerContainer {
    margin-bottom: 0;
  }

  .menuItems li a {
    font-size: 18px;
  }
}
  


  