/*universal style selector applies the following styling to the whole page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 1em;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*navigation bar items and social media icons in the navigation bar remove default styling*/
.menuItems, .s-mediaIcons {
  list-style-type: none;
}

/*all nav that are children of header*/
header nav {
  display: flex;
  background-color: #439A97;
  height: 2em;
}

/*sets styling for the logo placeholder in the navigation bar*/
div.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  margin-left: 0.5em;
  flex: 1;
  border: 0.125em solid orange;
}

/*creates flex container*/
ul.menuItems {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  flex: 3;
  border: 0.125em solid orange;
}

/*style all ul elements with the class s-mediaIcons*/
ul.s-mediaIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2em;
  margin-right: 0.5em;
  flex: 1;
  border: 0.125em solid orange;
}

/*sets margin for social media icons*/
.socMedIcon-fb, .socMedIcon-ig, .socMedIcon-twit {
  margin-right: 0.5em;
}

/*sets margin for navigation menu items*/
.home-Item, .about-Item, .blog-Item, .contact-Item {
  margin-right: 2em;
}

.home-Item {
  margin-left: 2em;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  align-items: top;
  width: 100%;
  border: 0.125em solid red;
  margin-top: 25em;
}

.blogCard {
	background-color: #439A97;
	border-radius: 5px;
	color: #CBEDD5;
  height: 495px;
  width: 250px;
  text-align: center;
}

.blogCardsImage {
  width: 250px;
  height: 
}

.readBtn {
  width: 210px;
  height: 40px;
  background-color: #97DECE;
  border: none;
  border-radius: 4px;
  margin-top: 0.75em; 
  margin-bottom: 1em;
}

.readBtn a {
  color: #439A97;
  text-decoration: none;
}

.kicker {
  text-align: left;
  font-style: italic;
  margin-top: 1em;
  margin-left: 0.75em;
}

.postTitle {
  text-align: left;
  margin-left: 0.75em;
  margin-bottom: 0.75em;
}

.blogDate, .previewText {
  text-align: left;
  margin-top: 0.75em;
  margin-left: 0.75em;
}

.previewText {
  margin-left: 0.75em;
  margin-bottom: 0.75em;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "contact-info sub-form";
    align-content: center;
  width: 100%;
  min-height: 100%;
  border: 0.1em solid red;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.contactMenu {
  display: grid;
  grid-area: contact-info;
  justify-content: center;
  align-items: center;
  background-color: #439A97;
  padding: 0.5em;
  height: 20em;
  list-style-type: none;
}

.contactIcon, .contactItem {
  margin: auto 0.5em;
}

#subBtn {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.4em;
  border: none;
  background-color: #439A97;
  margin-left: auto;
  margin-right: auto;
}

input {
  border-radius: 0.5em;
  padding: 0.5em;
  width: 17em;
}

span.contactItem {
  font-family: Arial;
  font-weight: normal;
}

.subMenu {
  display: grid;
  grid-area: sub-form;
  justify-content: center;
  align-content: center;
  /*margin-top: auto;
  margin-bottom: auto;*/
  height: 20em;
  border: 0.1em solid #439A97;
}

form h2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0.5em;
  text-align: center;
}

input[type=text], input[type=email] {
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 0.1em solid #439A97;
}

/*.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 25px;
  grid-template-areas:
    "s-mediaIcons-ft"
    "copyright-ft"; 
  justify-items: center;
  border: 2px solid red;
  margin-top: 0.5em;
  background-color: #439A97;
}*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #439A97;
  height: 10em;
  border: solid 2px orange;
}

/*.footerMenu {
  grid-area: s-mediaIcons-ft;
  padding: 0.5em;
}*/

.footerMenu, .copyrightIcon {
  margin-left: auto;
  margin-right: auto;
}

.footerMenu {
  margin-top: 1em;
  margin-bottom: 0.75em;
}

.copyrightIcon {
  margin-bottom: 1em;
}

/*.copyrightIcon {
  grid-area: copyright-ft;
  padding: 0.5em;
}*/

span.yearItem {
  font-family: Arial;
  font-weight: normal;
  font-size: 0.90em;
}

  /*sets margin for social media icons*/
  li.s-mediaIcon-sym {
  margin-right: 0.5em;
}

@media screen and (max-width: 480px) {
  header nav {width: 400px; display: block;}
}
