@import url('./header.css');
@import url('./blogposts.css');
@import url('./contact.css');
@import url('./subscribe.css');
@import url('./footer.css');

/*universal style selector applies the following styling to the whole page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 1em;
}

body {
  height: 100vh;
  border: 2px solid blue;
}

.fullPageContainer {
  display: grid;
  grid-template-columns: 12em auto;
  grid-template-rows: 5em 127em 8.5em 10em 7em;
  grid-template-areas:
    "hd hd"
    "asd art"
    "ct ct"
    "sub sub"
    "ft ft";
  row-gap: 0.5em;
  /*height: 100vh;*/
  border: 2px solid red;
}
